@model CateringService.Web.ViewModels.MenuVM

@{
	ViewData["Title"] = "Menu";
}

@if (Model.MenuDto.FoodItems.Any())
{
	<h1>Menu</h1>

	<div class="menu">
		@foreach (var category in Model.Categories)
		{
			<h2>@category</h2>
			foreach (var item in Model.MenuDto.FoodItems.Where(f => f.Category!.Name == category))
			{
				<div class="food-item">
					<div class="item-name">@item.Name</div>
					<div class="item-description">@item.Description</div>
					<div class="item-price">@item.Price.ToString("c")</div>
				</div>
			}
		}
	</div>

	<div class="edit">
		<a asp-action="Edit" asp-route-id="@Model.MenuDto.Id" class="btn btn-outline-primary">Edit</a>
	</div>
	<div class="add-new">
		<a asp-action="Create" class="btn btn-success"><i class="bi bi-plus-circle"></i> New Menu</a>
	</div>

	<a id="deleteLink" asp-action="Delete" asp-controller="Menus" asp-route-id="@Model.MenuDto.Id">Delete</a>
	<button class="btn btn-danger" onclick="showDialog()">Delete</button>
}
else
{
	<h2>Menu has no items!</h2>
	<a asp-action="Edit" asp-route-id="@Model.MenuDto.Id" class="btn btn-success"><i class="bi bi-plus-circle"></i> Add Items</a>
}

@section Scripts{
	<script>
		function showDialog() {
			bootbox.confirm("Are you sure you want to do this?", function (result) {
				if (result) {
					document.querySelector("#deleteLink").click();
				}
			});
		}
	</script>
	}