@model CateringService.Web.ViewModels.MenuVM

@{
	ViewData["Title"] = "Menu";
}

@if (Model.MenuDto.FoodItems.Any())
{
	<div class="text-center">
		<h1><b>The Menu</b></h1>
	</div>
	<hr />

	<div class="menu">
		@foreach (var category in Model.Categories)
		{
			<div class="text-center">
				<h2><b>@category</b></h2>
			</div>
			<hr class="dashed-line" />
			foreach (var item in Model.MenuDto.FoodItems.Where(f => f.Category!.Name == category))
			{
				<div class="item">
					<h2>@item.Name <span class="w3-right w3-tag w3-dark-grey w3-round">@item.Price.ToString("c")</span></h2>
					<p class="w3-text-grey">@item.Description</p>
					<button id="@item.Id" price="@item.Price" class="add-button">+</button>
				</div>
			}
		}
		<button class="submit-button">Place Order</button>
	</div>
}
else
{
	<div class="row">
		<div class="col-md-6 offset-3 text-center">
			<h2>No Menu For Today Yet!</h2>
			<hr />
		</div>
	</div>
}

@section Scripts{
	<script>
		$(document).ready(function () {
			var vm = {
				details: []
			};
			var id;
			var qty = 1;
			var price;

			$('.add-button').click(function () {
				$(this).text('Added').attr('disabled', true).toggleClass('added');

				id = $(this).attr('id');
				price = $(this).attr('price');
				vm.details.push({ foodItemId: id, quantity: qty, price: price });
			});
			$('.submit-button').click(function () {
				$('.item-button').text('+').attr('disabled', false).toggleClass('added');
				$.ajax({
					url: "/api/orders/",
					method: "post",
					data: JSON.stringify(vm),
					contentType: "application/json"
				})
					.done(function () {
						toastr.success("Order placed.");
					})
					.fail(function () {
						toastr.error("Something unexpected happened.");
					});
				vm.details = [];
			});
		});
	</script>
	}